// typography
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,700');

$cabin: 'Cabin', sans-serif;


// colors
$white: #fff;
$black: #2b2b2b;
$blue: #292e40;
$green: #81ba41;
$orange: #f05523;


// mixins
// breakpoint
@mixin breakpoint($point) {
	@if $point == xxlarge {
    	@media (min-width: 1440px) { @content ; }
  	}
  	@else if $point == xlarge {
    	@media (min-width: 1200px) { @content ; }
  	}
    @else if $point == large {
     	@media (min-width: 1024px) { @content ; }
  	}
  	@else if $point == medium {
     	@media (min-width: 768px)  { @content ; }
  	}
  	@else if $point == small {
     	@media (min-width: 480px)  { @content ; }
  	}
  	@else if $point == xsmall {
     	@media (min-width: 0)  { @content ; }
	}
}


//
@mixin clearit {
	&:before,
    &:after {
    	content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	zoom: 1;
}

// 
@mixin align_middle {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

@mixin dropshadow {
	box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

@mixin border_bottom {
	border-bottom: 1px solid $white;
}

@mixin circle {
	border-radius: 50%;
}