@import 'variables';

body {
	font-family: $cabin;
	line-height: 1.5;
	background-color: $white;
	width: 100%;
	padding: 0;
	margin: 0; }
	
h1, h2, h3, h4 {
	font-family: $cabin;
	font-weight: 700;
	margin: 0;
	padding: 0;
}

p {
	font-size: 1rem;
	font-weight: 500;
	color: $blue;
}



/**
 * HEADER
 */
header#main-header {
	background-color: $white;
	width: 100%;
	z-index: 99;
	
	@include breakpoint(xsmall) {
		position: fixed;
		left: 0;
		top: 0;
	}
	
	#logo-123quanto {
		margin-top: 11px;
	}
}



/*
 * MAIN NAVIGATION
 */
ul#main-navigation {
	padding: 0;
	margin: 0;
	float: right;
	list-style-type: none;
	
	li {
		margin-top: 10px;
		margin-bottom: 13px;
		float: left;
		border-right: 1px solid $blue;
		
		&:last-child {
			margin-right: 0;
			border: none;
		}
		
		a {
			color: $blue;
			padding: 0;
			padding-left: 10px;
			padding-right: 10px;
			display: block;
		}
	}
}



/*
 * PAGINATION
 */
#pagination {
	@include breakpoint(xsmall) {
		background-color: transparent;
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		right: auto;
		top: auto;
		bottom: 32px;
		z-index: 100;
	}
	
	@include breakpoint(large) {
		width: 1px;
		height: 100vh;
		position: absolute;
		left: auto;
		right: 0;
		top: 0;
		bottom: auto;
		z-index: 100;
	}
	
	ul {
		@include breakpoint(xsmall) {
			padding: 0;
			margin: 0;
			margin-left: 10px;
			margin-top: -8px;
			list-style-type: none;
			position: relative;
			left: auto;
			top: auto;
			transform: none;
		}
		
		@include breakpoint(large) {
			padding: 0;
			margin: 0;
			list-style-type: none;
			position: absolute;
			left: -48px;
			top: 50%;
			transform: translateY(-50%);
		}
		
		li {
			@include breakpoint(xsmall) {
				padding: 0;
				padding-left: 0;
				padding-right: 10px;
				float: left;
			}
			
			@include breakpoint(large) {
				padding-top: 5px;
				padding-bottom: 5px;
				float: none;
			}
			
			a {
				background-color: $white;
				width: 16px;
				height: 16px;
				display: block;
				border: 1px solid $blue;
				border-radius: 50%;
			}
			
			&.is-active {
				a { background-color: $blue; }
			}
		}
	}
}



/*
 *
 */
#skip-overview {
	@include breakpoint(xsmall) {
		color: $blue;
		width: 24px;
		height: 16px;
		margin-left: 0;
		display: block;
		position: absolute;
		left: auto;
		right: 10px;
		bottom: 24px;
		z-index: 101;
	}
	
	@include breakpoint(large) {
		margin-left: -12px;
		display: block;
		position: absolute;
		left: 50%;
		right: auto;
		bottom: 32px;
	}
	
	i {
		@include align_middle;
	}
}



/*
 * BADGE
 */
ul.app-badge {
	padding: 0;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	display: table;
	list-style-type: none;
	
	li {
		padding-left: 10px;
		padding-right: 10px;
		display: table-cell;
		
		a { display: block; }
	}
}



/*
 * INTRO
 */
section#intro {
	@include breakpoint(xsmall) {
		width: 100%;
		height: 100vh;
		padding-bottom: 157px;
	}
	
	@include breakpoint(medium) {
		padding-bottom: 128px;
	}
	
	@include breakpoint(large) {
		padding-bottom: 80px;
	}
	
	.box {
		background-position: center center;
		background-size: cover;
		width: 100%;
		height: 100%;
		
		.align-middle {
			width: 100%;
			
			@include breakpoint(xsmall) {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-33.33%)
			}
				
			@include breakpoint(medium) {
				transform: translateY(-50%);
			}
		}
	}
	
	p {
		font-size: 24px;
		color: $white;
		line-height: 1.1;
		text-shadow: 0 1px 5px rgba(0,0,0,0.3);
		
		&.lead {
			font-size: 42px;
			text-transform: uppercase;
			margin-top: 80px;
		}
	}
}



/*
 * AUCTION TIME
 */
section#auction-time {
	background-color: $blue;
	width: 100%;
	padding-top: 16px;
	padding-bottom: 8px;
	
	@include breakpoint(xsmall) {
		margin-top: -157px;
	}
	
	@include breakpoint(medium) {
		margin-top: -128px;
	}
	
	@include breakpoint(large) {
		margin-top: -80px;
	}
	
	.box {
		@include breakpoint(xsmall) {
			display: block;
		}
		
		@include breakpoint(large) {
			display: inline-block;
		}
		
		@include clearit;
		
		.container {
			overflow: hidden;
			margin-left: 8px;
			margin-right: 8px;
			display: inline-block;
			
			@include breakpoint(xsmall) {
				float: none;
			}
			
			@include breakpoint(large) {
				float: left;
			}
			
			@include clearit;
			
			p {
				font-size: 14px;
				color: $orange;
				line-height: 1;
				margin-top: 15px;
				margin-bottom: 0;
				padding-left: 4px;
				padding-right: 4px;
				float: left;
				
				&.icon {
					color: $orange;
					margin-top: 0!important;
				}
				
				&.countdown-clock {
					font-size: 3rem;
					color: $orange!important;
					margin-top: 0;
				}
			}
			
			&:last-child {
				@include breakpoint(xsmall) {
					p {
						width: 50%;
						
						&:last-child { 
							width: 100%;
						}	
					}
				}
				
				@include breakpoint(medium) {
					p {
						width: auto;
						
						&:last-child { 
							width: auto;
						}	
					}
				}
			}
		}
	}
}



/**
 * OVERVIEW SECTION
 */
section#overview {
	background-color: $white;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	height: 100vh;
	position: relative;
	z-index: 1;
	
	.parts {
		@include breakpoint(xsmall) {
			background-color: $white;
			background-image: url(../img/background-tyre.png);
			background-position: left top;
			background-repeat: repeat-x;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
		}
		
		&#part-1 { z-index: 4; }
		&#part-2 { z-index: 3; }
		&#part-3 { z-index: 2; }
		&#part-4 { z-index: 1; }
		
		img {
			@include breakpoint(xsmall) {
				max-height: 240px;
			}
			
			@include breakpoint(large) {
				max-height: none;
			}
			
			margin-bottom: 1.5rem;	
		}
		
		.box {
			@include breakpoint(xsmall) {
				width: 100%;
				margin-top: 64px;
				height: auto;
			}
			
			@include breakpoint(medium) {
				margin-top: 0;
				@include align-middle;
			}
		}
		
		h1 {
			@include breakpoint(xsmall) {
				font-size: 32px;
				margin-bottom: 1rem;
			}
			
			@include breakpoint(large) {
				font-size: 72px;
				margin-top: 37px;
				margin-bottom: 0;
			}
			
			color: $orange;
			line-height: 1.1;
		}
		
		p {
			font-size: 24px;
			color: $blue;
			line-height: 1.1;
			
			&.lead {
				@include breakpoint(xsmall) {
					font-size: 24px;
					margin-top: 0;
				}
				
				@include breakpoint(medium) {
					font-size: 42px;
					margin-top: 35px;
				}
			}
		}
		
		&#part-1 ul.app-badge, &#part-3 ul.app-badge, &#part-4 ul.app-badge {
			@include breakpoint(xsmall) {
				margin-top: 0; 
			}
			
			@include breakpoint(large) {
				margin-top: -72px; 
			}
		}
		
		&#part-2 ul.app-badge { margin-top: 1rem; }
	}
}



section#how-it-works {
	background-color: $white;
	padding-top: 3rem;
	padding-bottom: 3rem;
	
	h1 {
		color: $orange;
		margin-bottom: 2rem;
	}
}



section#easy {
	background-color: $blue;
	padding-top: 3rem;
	padding-bottom: 3rem;
	
	h1 {
		color: $blue;
		margin-bottom: 2rem;
	}
	
	p { color: $white; }
}