@import url("https://fonts.googleapis.com/css?family=Cabin:400,500,700");
body {
  font-family: "Cabin", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  width: 100%;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4 {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0; }

p {
  font-size: 1rem;
  font-weight: 500;
  color: #292e40; }

/**
 * HEADER
 */
header#main-header {
  background-color: #fff;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #292e40; }
  @media (min-width: 0) {
    header#main-header {
      position: fixed;
      left: 0;
      top: 0; } }
  header#main-header #logo-123quanto {
    margin-top: 11px; }

/*
 * MAIN NAVIGATION
 */
ul#main-navigation {
  padding: 0;
  margin: 0;
  float: right;
  list-style-type: none; }
  ul#main-navigation li {
    margin-top: 10px;
    margin-bottom: 13px;
    float: left;
    border-right: 1px solid #292e40; }
    ul#main-navigation li:last-child {
      margin-right: 0;
      border: none; }
    ul#main-navigation li a {
      color: #292e40;
      padding: 0;
      padding-left: 10px;
      padding-right: 10px;
      display: block; }

/*
 * PAGINATION
 */
@media (min-width: 0) {
  #pagination {
    background-color: transparent;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    right: auto;
    top: auto;
    bottom: 32px;
    z-index: 100; } }

@media (min-width: 1024px) {
  #pagination {
    width: 1px;
    height: 100vh;
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    bottom: auto;
    z-index: 100; } }

@media (min-width: 0) {
  #pagination ul {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-top: -8px;
    list-style-type: none;
    position: relative;
    left: auto;
    top: auto;
    transform: none; } }

@media (min-width: 1024px) {
  #pagination ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    left: -48px;
    top: 50%;
    transform: translateY(-50%); } }

@media (min-width: 0) {
  #pagination ul li {
    padding: 0;
    padding-left: 0;
    padding-right: 10px;
    float: left; } }

@media (min-width: 1024px) {
  #pagination ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    float: none; } }

#pagination ul li a {
  background-color: #292e40;
  width: 16px;
  height: 16px;
  display: block;
  border: 1px solid #fff;
  border-radius: 50%; }

#pagination ul li.is-active a {
  background-color: #fff; }

/*
 *
 */
@media (min-width: 0) {
  #skip-overview {
    color: #fff;
    width: 24px;
    height: 16px;
    margin-left: 0;
    display: block;
    position: absolute;
    left: auto;
    right: 10px;
    bottom: 24px;
    z-index: 101; } }

@media (min-width: 1024px) {
  #skip-overview {
    margin-left: -12px;
    display: block;
    position: absolute;
    left: 50%;
    right: auto;
    bottom: 32px; } }

#skip-overview i {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/*
 * BADGE
 */
ul.app-badge {
  padding: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: table;
  list-style-type: none; }
  ul.app-badge li {
    padding-left: 10px;
    padding-right: 10px;
    display: table-cell; }
    ul.app-badge li a {
      display: block; }

/*
 * INTRO
 */
section#intro {
  background-color: #fff;
  background-image: url(../img/background-tyre.png);
  background-position: left top;
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh; }
  @media (min-width: 0) {
    section#intro img {
      max-height: 300px;
      margin-bottom: 1rem; } }
  @media (min-width: 768px) {
    section#intro img {
      max-height: none; } }
  section#intro .box {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative; }
    @media (min-width: 0) {
      section#intro .box {
        padding-top: 64px; } }
    @media (min-width: 768px) {
      section#intro .box {
        padding-top: 0; } }
    section#intro .box .align-middle {
      width: 100%; }
      @media (min-width: 0) {
        section#intro .box .align-middle {
          position: relative;
          left: auto;
          top: auto;
          transform: none; } }
      @media (min-width: 768px) {
        section#intro .box .align-middle {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%); } }
  section#intro p {
    line-height: 1.1;
    text-transform: uppercase; }
    @media (min-width: 0) {
      section#intro p {
        font-size: 18px; } }
    @media (min-width: 768px) {
      section#intro p {
        font-size: 36px; } }
    section#intro p.lead {
      color: #292e40; }
      @media (min-width: 0) {
        section#intro p.lead {
          font-size: 18px; } }
      @media (min-width: 768px) {
        section#intro p.lead {
          font-size: 48px; } }
    section#intro p.countdown-clock {
      font-size: 72px;
      color: #f05523 !important; }

/**
 * OVERVIEW SECTION
 */
section#overview {
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1; }
  @media (min-width: 0) {
    section#overview .parts {
      background-color: #292e40;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0; } }
  section#overview .parts#part-1 {
    z-index: 4; }
  section#overview .parts#part-2 {
    z-index: 3; }
  section#overview .parts#part-3 {
    z-index: 2; }
  section#overview .parts#part-4 {
    z-index: 1; }
  section#overview .parts .auction-time .fa-clock-o {
    color: #fff;
    float: left; }
  section#overview .parts .auction-time p {
    color: #fff;
    line-height: 1.33;
    padding-left: 72px; }
  section#overview .parts img {
    margin-bottom: 1.5rem; }
    @media (min-width: 0) {
      section#overview .parts img {
        max-height: 240px; } }
    @media (min-width: 1024px) {
      section#overview .parts img {
        max-height: none; } }
  @media (min-width: 0) {
    section#overview .parts .box {
      width: 100%;
      margin-top: 64px;
      height: auto; } }
  @media (min-width: 768px) {
    section#overview .parts .box {
      margin-top: 0;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); } }
  section#overview .parts h1 {
    color: #f05523;
    line-height: 1.1; }
    @media (min-width: 0) {
      section#overview .parts h1 {
        font-size: 32px;
        color: #81ba41;
        margin-bottom: 1rem; } }
    @media (min-width: 1024px) {
      section#overview .parts h1 {
        font-size: 72px;
        margin-top: 37px;
        margin-bottom: 0; } }
  section#overview .parts p {
    font-size: 24px;
    color: #fff;
    line-height: 1.1; }
    @media (min-width: 0) {
      section#overview .parts p.lead {
        font-size: 24px;
        margin-top: 0; } }
    @media (min-width: 768px) {
      section#overview .parts p.lead {
        font-size: 42px;
        margin-top: 35px; } }
  @media (min-width: 0) {
    section#overview .parts#part-1 ul.app-badge, section#overview .parts#part-3 ul.app-badge, section#overview .parts#part-4 ul.app-badge {
      margin-top: 0; } }
  @media (min-width: 1024px) {
    section#overview .parts#part-1 ul.app-badge, section#overview .parts#part-3 ul.app-badge, section#overview .parts#part-4 ul.app-badge {
      margin-top: -72px; } }
  section#overview .parts#part-2 ul.app-badge {
    margin-top: 1rem; }

section#how-it-works {
  background-color: #292e40;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  section#how-it-works h1 {
    color: #fff;
    margin-bottom: 2rem; }

section#detail {
  padding-top: 3rem;
  padding-bottom: 2rem; }

section#easy {
  background-color: #292e40;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  section#easy h1 {
    color: #fff;
    margin-bottom: 2rem; }
  section#easy p {
    color: #fff; }
